@font-face {
  font-family: Outfit;
  src: url(../fonts/Outfit.ttf) format('truetype');
}

body {
  color: var(--text);
  background-color: var(--bg);
  font-family: Outfit, sans-serif;
  margin: 0;
  line-height: 1.4;
}

p.error,
p.success {
  margin-top: 26px;
  padding: 12px 8px;
  max-width: fit-content;
}

p.error {
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}

p.success {
  border-top: 2px solid green;
  border-bottom: 2px solid green;
}
