form {
  input,
  textarea,
  button {
    background-color: var(--bg-lighter);
    color: var(--text);
    border: none;
    padding: 4px 8px;
    margin-block-end: 18px;
  }

  label {
    display: block;
    padding-bottom: 2px;
    opacity: var(--text-secondary-opacity);
  }

  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='number'] {
    border-bottom: 1px solid var(--decor);
  }

  input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0.25rem;
    margin: 0;
    margin-block-end: 18px;
    cursor: pointer;
    background-color: var(--bg-lighter);
    border-radius: var(--border-radius);
  }

  input[type='checkbox']::before {
    content: '\00a0'; /* Prevent layout shift when adding checkmark */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    background-color: var(--bg-lighter);
    color: var(--text);
  }

  input[type='checkbox']:checked::before {
    content: '✓';
  }

  button {
    display: block;
    background-color: var(--bg-lighter);
    box-shadow: 2px 2px var(--decor);
    font-weight: 600;
    transform: translate(-1px, -1px);
    padding: 6px 12px;
  }

  button:active:not(:disabled) {
    box-shadow: 0px 0px var(--bg-lighter);
    transform: translate(1px, 1px);
    transition:
      box-shadow var(--transition-duration) ease-in-out,
      transform var(--transition-duration) ease-in-out;
  }

  button[type='submit'] {
    margin-top: 8px;
  }

  /* Hide input controls */
  input[type='number'] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}
