input,
textarea,
button {
  background-color: var(--bg-lighter);
  color: var(--text);
  border: none;
  padding: 4px 8px;
  margin-bottom: var(--gap);
}

label {
  display: block;
  padding-bottom: 2px;
}

input[type='text'],
input[type='password'],
input[type='email'],
textarea {
  border-bottom: 1px solid var(--decor);
}

button {
  display: block;
  background-color: var(--bg-lighter);
  box-shadow: 2px 2px var(--decor);
  font-weight: 600;
  transform: translate(-1px, -1px);
  padding: 6px 12px;
}

button:active {
  box-shadow: 0px 0px var(--bg-lighter);
  transform: translate(1px, 1px);
  transition:
    box-shadow var(--ui-transition-duration) ease-in-out,
    transform var(--ui-transition-duration) ease-in-out;
}

button[type='submit'] {
  margin-top: var(--gap);
}
