:root {
  /* Colors

    For sufficient contrast ratios, when styling text
    only ever use --text or --accent on --bg-* colors.
  */
  --bg: light-dark(#f5f5f5, #0a0a0a);
  --bg-light: light-dark(#ebebeb, #141414);
  --bg-lighter: light-dark(#e0e0e0, #1f1f1f);
  --decor: light-dark(#b8b8b8, #474747);
  --decor-light: light-dark(#a5a5a5, #5a5a5a);
  --text: light-dark(#0a0a0a, #f5f5f5);
  --accent: var(--d-algae);

  /* Accent variations for dark mode

    Changes to these variable names need to be
    applied in /src/utils/theme_settings.ts as well.
  */
  --d-grey: #aaaaaa;
  --d-candy: #ff8591;
  --d-grapefruit: #fe7173;
  --d-tangerine: #e77f4b;
  --d-rose: #dda6a8;
  --d-bronze: #e09f7d;
  --d-canary: #f7f052;
  --d-gold: #efcb68;
  --d-lime: #ddfcad;
  --d-mint: #03fcba;
  --d-moss: #72c077;
  --d-turquoise: #73eedc;
  --d-sky: #7cb9df;
  --d-cornflower: #7aa4ff;
  --d-mauve: #c879ff;
  --d-periwinkle: #acacec;

  /* Accent variations for light mode

    Changes to these variable names need to be
    applied in /src/utils/theme_settings.ts as well.
  */
  --l-grey: #5c5c5c;
  --l-rust: #ad2e0b;
  --l-cherry: #c71a34;
  --l-orange: #f53900;
  --l-brandy: #772f1a;
  --l-chocolate: #8c4e18;
  --l-earth: #8d6802;
  --l-olive: #345511;
  --l-emerald: #1d6515;
  --l-turf: #097144;
  --l-turquoise: #0d6d5f;
  --l-cerulean: #005a7a;
  --l-grape: #514686;
  --l-indigo: #610f7f;
  --l-velvet: #762c77;
  --l-raspberry: #af0878;

  /* Use only for technical indications
  */
  --error: #ee0000;
  --success: #00c500;
}

/* Dark/light mode based on system settings
*/
@media (prefers-color-scheme: no-preference) {
  :root {
    color-scheme: dark;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

/* Dark/light mode based on user preference (overrides system settings)
*/
:root[data-theme='light'] {
  color-scheme: light;
}
:root[data-theme='dark'] {
  color-scheme: dark;
}
