.heading--muted {
  font-size: var(--heading-font-size);
  letter-spacing: 1px;
  font-weight: 300;
  opacity: var(--text-secondary-opacity);
}

.heading--root {
  font-size: var(--heading-font-size);
  padding-bottom: var(--inner-spacing);
  font-weight: 600;
}

.multiline_text {
  white-space: pre-wrap;
}

svg.spinner {
  width: var(--icon-size);
  height: var(--icon-size);
  margin-left: 10px;
  animation: spin 2s linear infinite;
}

p.error,
p.success {
  margin-top: 26px;
  padding: 12px 8px;
  max-width: fit-content;
}

p.error {
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}

p.success {
  border-top: 2px solid green;
  border-bottom: 2px solid green;
}

div.submit {
  display: flex;
  align-items: center;
  margin-top: 8px;

  button {
    margin-top: 0;
    margin-bottom: 0;
  }
}

button:disabled {
  opacity: 0.75;
  cursor: not-allowed;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
