/* Typography
*/

.heading--root {
  font-size: var(--heading-font-size);
  padding-bottom: var(--inner-spacing);
  font-weight: 500;
}

.heading--muted {
  font-size: var(--heading-secondary-font-size);
  font-weight: 300;
  letter-spacing: 0.5px;
  opacity: var(--secondary-opacity);
  padding-bottom: 2px;
}

.heading--with-buttons {
  display: flex;
  align-items: center;
  gap: var(--inner-spacing);

  button svg {
    width: var(--icon-size-xs);
    height: var(--icon-size-xs);
  }
}

.multiline_text {
  white-space: pre-wrap;
}

/* Animations
*/

svg.spinner {
  width: var(--icon-size);
  height: var(--icon-size);
  margin-left: 10px;
  animation: spin 2s linear infinite;
}

div.centered {
  display: flex;
  justify-content: center;
  align-items: center;

  svg.spinner {
    margin-left: 0;
    margin-top: var(--inner-spacing);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Vue Transition classes
*/

.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--transition-duration);
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Horizontal slides for switching sub views */
.slide-in-ltr-enter-active,
.slide-in-ltr-leave-active,
.slide-in-rtl-enter-active,
.slide-in-rtl-leave-active {
  transition: all var(--transition-duration-long);
}
.slide-in-ltr-out-in-enter-active,
.slide-in-ltr-out-in-leave-active,
.slide-in-rtl-out-in-enter-active,
.slide-in-rtl-out-in-leave-active {
  transition: all var(--transition-duration-long);
}
.slide-in-ltr-enter-from,
.slide-in-rtl-leave-to,
.slide-in-rtl-out-in-enter-from,
.slide-in-ltr-out-in-leave-to {
  opacity: 0;
  transform: translateX(-25%);
}
.slide-in-rtl-enter-from,
.slide-in-ltr-leave-to,
.slide-in-rtl-out-in-enter-from,
.slide-in-ltr-out-in-leave-to {
  opacity: 0;
  transform: translateX(25%);
}

/* Vertical out-of-view slides for hiding UI elements */
.slide-out-top-enter-active,
.slide-out-top-leave-active,
.slide-out-bottom-enter-active,
.slide-out-bottom-leave-active {
  transition: transform var(--transition-duration-long);
}
.slide-out-top-enter-from,
.slide-out-top-leave-to {
  transform: translateY(-100%);
}
.slide-out-bottom-enter-from,
.slide-out-bottom-leave-to {
  transform: translateY(100%);
}

/* Fix for interfering transitions */
.isolate-stacking-context {
  position: relative;
  overflow: hidden;
}

/* Misc
*/

p.error,
p.success {
  margin-top: var(--inner-spacing-l);
  padding: 12px 8px;
  max-width: fit-content;
}

p.error {
  border-top: 2px solid var(--error);
  border-bottom: 2px solid var(--error);
}

p.success {
  border-top: 2px solid var(--success);
  border-bottom: 2px solid var(--success);
}

div.submit {
  display: flex;
  align-items: center;
  margin-top: 8px;

  button {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.transition-navs-out-view {
  /* Prevent layout shift when transitioning out top nav */
  position: absolute;
  inset: var(--inner-spacing) var(--inner-spacing) auto var(--inner-spacing);
  min-height: max-content;
  padding-block-end: var(--inner-spacing);
}
