:root {
  /* Typography
  */
  --heading-font-size: 1.2rem;
  --heading-secondary-font-size: 1.1rem;
  --text-secondary-opacity: 0.75;
  --quantity-unit-font-weight: 700;

  /* Spacings
  */
  --outer-spacing: 10px;
  --inner-spacing: 12px;
  --inner-spacing-l: 30px;

  /* Misc
  */
  --border-radius: 7px;
  --transition-duration: 0.15s;
  --icon-size: 2rem;
  --icon-size-s: 1.5rem;
  --icon-size-xs: 1rem;
  --nav-border-width: 2px;
}
